.project
.settings/
.idea/
apps/
src/appMenus/
src/applications/
src/assignmentRules/
src/communities/
src/email/
src/escalationRules/
src/flexipages/
src/homePageLayouts/
src/labels/
src/layouts/
src/objects/
src/profiles/
src/quickActions/
src/remoteSiteSettings/
src/reportTypes/
src/roles/
src/settings/
src/workflows/